@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Montserrat:wght@300;400;500;600;700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face{
    font-family: bauhaus;
    src: url(./Font/BAUHS93.ttf);
    /* src: url(./Font/outlinefolder/outline.ttf); */
    /* src: url(./Font/neon/Neon.ttf); */
    
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
}
body{
       background-image: url('bg1.png');
       /* background-size: cover;
       width: 100vw;
       height: 100vh; */
}
.container {
    height: 100vh;
    width: 100%;
    /* background-image: url(images/bg.png);
    background-position: center;
    background-size: cover; */
    padding-right: 3%;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;
}
.header {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo {
    width: 180px;
    margin-top: 10px;
    cursor: pointer;
}

.content {
    position: relative;
    display: flex;
    width: 100%;
    /* align-items: center; */
    justify-content: space-between;
}
.content .text {
    position: relative;
    max-width: 600px;
}
.content .text h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 80px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 40px;
    color: black;
    font-weight: 700;
    /* font-family: 'Baumans', cursive; */
    font-family: bauhaus;
    

}
.content .text h1 span {
    font-size: 50px;
    color:  #899CFF;
    font-family: bauhaus;
    font-weight: 700;
}
.content .text p {
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .1em;
    margin-top: 40px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
 }
.btn3 {
    background:  #899CFF;
    margin-top: 60px;
    padding: 15px 30px;
    text-align: center;
    transition: .5s;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 1px 4px 12px rgba(94,28,68,.15);
    cursor: pointer;
}
.pepsi{
    display: flex;
    height: 100%;
    position: relative;
    width: 600px;
    /* margin-top: 80px; */
    /* padding-left: 440px; */
    justify-content: flex-end;
}
.pepsi img{
    width: 700px;
    height: 650px;
    margin-right: 7rem;
    position: relative;
    bottom: 100px;
}

/* responsive queries */
@media screen and (max-width: 1000px) {
    .pepsi{
     display: none;
    }
   }